{% extends 'base.html' %}
{% load static thumbnail %}
{% block title %}Наши работы | {{ work.title }}{% endblock %}
{% block description %}Наши работы | {{ work.title }}{% endblock %}
{% block body_class %}style-5 page single-page{% endblock %}
{% block content %}
    <section class="main-section light-section single-product" id="single-product">
        <div class="section-wrapper" itemscope itemtype="http://schema.org/Product">
            <div class="container">
                <header class="section-header">
                    <h2 itemprop="name">{{ work.title }}</h2>

                    <div class="divider-section-header"></div>
                </header>
                <meta itemprop="brand" content="Frucarousel"/>
                <article class="single-product-contents style-6">
                    <div class="product-overview">
                        <h5 class="product-title">{{ work.title }}</h5>
                        <figure class="product-perview">
                            <img itemprop="image" src="{% thumbnail work.image 570x380 %}" alt="{{ work.title }}">
                            <figcaption></figcaption>
                        </figure>
                        <p class="description" itemprop="description">{{ work.content.html|safe }}</p>
                    </div>
                </article>

            </div>
        </div>
    </section>
{% endblock %}