{% extends 'base.html' %}
{% load static cropping %}
{% block title %}Наши работы{% endblock %}
{% block description %}Наши работы{% endblock %}
{% block body_class %}style-5 page products-page{% endblock %}
{% block content %}
    <section class="main-section light-section products" id="products">
        <div class="section-wrapper">
            <div class="container">
                <header class="section-header">
                    <h2>Каталог продукции</h2>
                    <div class="divider-section-header"></div>
                    <p></p>
                </header>
                <div class="row carousel-blocks-3">
                    {% if work_list %}
                        {% for work in work_list %}
                            <div class="product-wrapper carousel-item col-md-3">
                                <div class="product">
                                    <figure class="product-perview">
                                        <img src="{% cropped_thumbnail work "cropping" %}" alt="{{ work.title }}">
                                        <figcaption></figcaption>
                                    </figure>
                                    <div class="product-contents">
                                        <h3 class="product-title">
                                            <a href="{% url 'work_detail' work.pk %}" title="{{ work.title }}">
                                                {{ work.title }}
                                            </a>
                                        </h3>
                                        <p class="product-description">{{ work.content.html|safe }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% include '_paginator.html' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}