@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon/icomoon.eot%3F-4xnou5');
    src: url('../fonts/icomoon/icomoon.eot%3F') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.woff%3F-4xnou5') format('woff'),
    url('../fonts/icomoon/icomoon.ttf%3F-4xnou5') format('truetype'),
    url('../fonts/icomoon/icomoon.svg%3F-4xnou5') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="ico-"], [class*=" ico-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ico-alarm:before {
    content: "\e600";
}

.ico-anchors:before {
    content: "\e601";
}

.ico-article:before {
    content: "\e602";
}

.ico-article-add:before {
    content: "\e603";
}

.ico-article-remove:before {
    content: "\e604";
}

.ico-attachment:before {
    content: "\e605";
}

.ico-attachment-2:before {
    content: "\e606";
}

.ico-basil:before {
    content: "\e607";
}

.ico-basket:before {
    content: "\e608";
}

.ico-battery-charging:before {
    content: "\e609";
}

.ico-battery-empty:before {
    content: "\e60a";
}

.ico-battery-full:before {
    content: "\e60b";
}

.ico-battery-low:before {
    content: "\e60c";
}

.ico-beer-mug:before {
    content: "\e60d";
}

.ico-beer-mug-empty:before {
    content: "\e60e";
}

.ico-bike:before {
    content: "\e60f";
}

.ico-bill:before {
    content: "\e610";
}

.ico-block:before {
    content: "\e611";
}

.ico-bottle:before {
    content: "\e612";
}

.ico-bottle-label:before {
    content: "\e613";
}

.ico-bowl:before {
    content: "\e614";
}

.ico-bowl-2:before {
    content: "\e615";
}

.ico-box:before {
    content: "\e616";
}

.ico-breads:before {
    content: "\e617";
}

.ico-briefcase:before {
    content: "\e618";
}

.ico-brightness:before {
    content: "\e619";
}

.ico-browser:before {
    content: "\e61a";
}

.ico-bubble:before {
    content: "\e61b";
}

.ico-bubble-2:before {
    content: "\e61c";
}

.ico-bubble-rec:before {
    content: "\e61d";
}

.ico-bubble-rec-2:before {
    content: "\e61e";
}

.ico-cake:before {
    content: "\e61f";
}

.ico-calculator:before {
    content: "\e620";
}

.ico-calendar:before {
    content: "\e621";
}

.ico-calender-2:before {
    content: "\e622";
}

.ico-camera:before {
    content: "\e623";
}

.ico-cancel:before {
    content: "\e624";
}

.ico-candy:before {
    content: "\e625";
}

.ico-car:before {
    content: "\e626";
}

.ico-card:before {
    content: "\e627";
}

.ico-cassette:before {
    content: "\e628";
}

.ico-chart:before {
    content: "\e629";
}

.ico-classic-bus:before {
    content: "\e62a";
}

.ico-classic-cocktail:before {
    content: "\e62b";
}

.ico-clipboard:before {
    content: "\e62c";
}

.ico-clipboard-tick:before {
    content: "\e62d";
}

.ico-cloud:before {
    content: "\e62e";
}

.ico-cocktail:before {
    content: "\e62f";
}

.ico-coffee-cup:before {
    content: "\e630";
}

.ico-coffee-cup-2:before {
    content: "\e631";
}

.ico-compass:before {
    content: "\e632";
}

.ico-controller:before {
    content: "\e633";
}

.ico-crop:before {
    content: "\e634";
}

.ico-cupcake:before {
    content: "\e635";
}

.ico-details:before {
    content: "\e636";
}

.ico-diamond:before {
    content: "\e637";
}

.ico-disk:before {
    content: "\e638";
}

.ico-documents:before {
    content: "\e639";
}

.ico-down:before {
    content: "\e63a";
}

.ico-download:before {
    content: "\e63b";
}

.ico-drop:before {
    content: "\e63c";
}

.ico-drumstick:before {
    content: "\e63d";
}

.ico-earth:before {
    content: "\e63e";
}

.ico-edit:before {
    content: "\e63f";
}

.ico-egg:before {
    content: "\e640";
}

.ico-email:before {
    content: "\e641";
}

.ico-envelope:before {
    content: "\e642";
}

.ico-eraser:before {
    content: "\e643";
}

.ico-female:before {
    content: "\e644";
}

.ico-files:before {
    content: "\e645";
}

.ico-fish:before {
    content: "\e646";
}

.ico-flag:before {
    content: "\e647";
}

.ico-folder:before {
    content: "\e648";
}

.ico-folder-add:before {
    content: "\e649";
}

.ico-folder-remove:before {
    content: "\e64a";
}

.ico-fork-knife:before {
    content: "\e64b";
}

.ico-fork-spoon:before {
    content: "\e64c";
}

.ico-fridge:before {
    content: "\e64d";
}

.ico-fullscreen:before {
    content: "\e64e";
}

.ico-gear:before {
    content: "\e64f";
}

.ico-gear-2:before {
    content: "\e650";
}

.ico-gear-3:before {
    content: "\e651";
}

.ico-glasses:before {
    content: "\e652";
}

.ico-grid-4:before {
    content: "\e653";
}

.ico-grid-9:before {
    content: "\e654";
}

.ico-grill:before {
    content: "\e655";
}

.ico-group:before {
    content: "\e656";
}

.ico-gym:before {
    content: "\e657";
}

.ico-headset:before {
    content: "\e658";
}

.ico-heart:before {
    content: "\e659";
}

.ico-home:before {
    content: "\e65a";
}

.ico-hood-food:before {
    content: "\e65b";
}

.ico-hot-ramen:before {
    content: "\e65c";
}

.ico-ice-cream:before {
    content: "\e65d";
}

.ico-ice-cream-2:before {
    content: "\e65e";
}

.ico-ice-cream-3:before {
    content: "\e65f";
}

.ico-imac:before {
    content: "\e660";
}

.ico-image:before {
    content: "\e661";
}

.ico-image-2:before {
    content: "\e662";
}

.ico-image-3:before {
    content: "\e663";
}

.ico-image-4:before {
    content: "\e664";
}

.ico-ipad:before {
    content: "\e665";
}

.ico-ipad-2:before {
    content: "\e666";
}

.ico-ipads:before {
    content: "\e667";
}

.ico-ipads-2:before {
    content: "\e668";
}

.ico-iphone:before {
    content: "\e669";
}

.ico-iphone-2:before {
    content: "\e66a";
}

.ico-iphones:before {
    content: "\e66b";
}

.ico-iphones-2:before {
    content: "\e66c";
}

.ico-jar:before {
    content: "\e66d";
}

.ico-ketchup:before {
    content: "\e66e";
}

.ico-key:before {
    content: "\e66f";
}

.ico-laptop:before {
    content: "\e670";
}

.ico-left:before {
    content: "\e671";
}

.ico-list:before {
    content: "\e672";
}

.ico-location:before {
    content: "\e673";
}

.ico-location-2:before {
    content: "\e674";
}

.ico-locked:before {
    content: "\e675";
}

.ico-locomotive:before {
    content: "\e676";
}

.ico-lollipop:before {
    content: "\e677";
}

.ico-lollipop-2:before {
    content: "\e678";
}

.ico-male:before {
    content: "\e679";
}

.ico-map:before {
    content: "\e67a";
}

.ico-mastercard:before {
    content: "\e67b";
}

.ico-mastercard-2:before {
    content: "\e67c";
}

.ico-mayonnaise:before {
    content: "\e67d";
}

.ico-med-brief:before {
    content: "\e67e";
}

.ico-medicine:before {
    content: "\e67f";
}

.ico-menu:before {
    content: "\e680";
}

.ico-microphone:before {
    content: "\e681";
}

.ico-microphone-2:before {
    content: "\e682";
}

.ico-microwave:before {
    content: "\e683";
}

.ico-minus:before {
    content: "\e684";
}

.ico-modern-bus:before {
    content: "\e685";
}

.ico-mouse:before {
    content: "\e686";
}

.ico-music:before {
    content: "\e687";
}

.ico-news:before {
    content: "\e688";
}

.ico-notepad:before {
    content: "\e689";
}

.ico-ok:before {
    content: "\e68a";
}

.ico-pen:before {
    content: "\e68b";
}

.ico-pencil:before {
    content: "\e68c";
}

.ico-personal:before {
    content: "\e68d";
}

.ico-pizza:before {
    content: "\e68e";
}

.ico-pizza-2:before {
    content: "\e68f";
}

.ico-plane:before {
    content: "\e690";
}

.ico-plate:before {
    content: "\e691";
}

.ico-plus:before {
    content: "\e692";
}

.ico-power:before {
    content: "\e693";
}

.ico-presentation:before {
    content: "\e694";
}

.ico-refresh:before {
    content: "\e695";
}

.ico-reload:before {
    content: "\e696";
}

.ico-ribbon:before {
    content: "\e697";
}

.ico-right:before {
    content: "\e698";
}

.ico-rocket:before {
    content: "\e699";
}

.ico-scooter:before {
    content: "\e69a";
}

.ico-search:before {
    content: "\e69b";
}

.ico-share:before {
    content: "\e69c";
}

.ico-ship:before {
    content: "\e69d";
}

.ico-shopping-bag:before {
    content: "\e69e";
}

.ico-shopping-bag-2:before {
    content: "\e69f";
}

.ico-shuffle:before {
    content: "\e6a0";
}

.ico-social-dribbble:before {
    content: "\e6a1";
}

.ico-social-facebook:before {
    content: "\e6a2";
}

.ico-social-instagram:before {
    content: "\e6a3";
}

.ico-social-instagram-2:before {
    content: "\e6a4";
}

.ico-social-twitter:before {
    content: "\e6a5";
}

.ico-spatula:before {
    content: "\e6a6";
}

.ico-sport-car:before {
    content: "\e6a7";
}

.ico-star:before {
    content: "\e6a8";
}

.ico-statistic-down:before {
    content: "\e6a9";
}

.ico-statistic-up:before {
    content: "\e6aa";
}

.ico-tachometer-2:before {
    content: "\e6ab";
}

.ico-tag:before {
    content: "\e6ac";
}

.ico-tag-2:before {
    content: "\e6ad";
}

.ico-tag-3:before {
    content: "\e6ae";
}

.ico-tag-add:before {
    content: "\e6af";
}

.ico-tag-remove:before {
    content: "\e6b0";
}

.ico-task:before {
    content: "\e6b1";
}

.ico-tea:before {
    content: "\e6b2";
}

.ico-thermometer:before {
    content: "\e6b3";
}

.ico-thumb-down:before {
    content: "\e6b4";
}

.ico-thumb-up:before {
    content: "\e6b5";
}

.ico-tickets:before {
    content: "\e6b6";
}

.ico-tie:before {
    content: "\e6b7";
}

.ico-tie-2:before {
    content: "\e6b8";
}

.ico-tost:before {
    content: "\e6b9";
}

.ico-train:before {
    content: "\e6ba";
}

.ico-trash:before {
    content: "\e6bb";
}

.ico-tv:before {
    content: "\e6bc";
}

.ico-unlocked:before {
    content: "\e6bd";
}

.ico-unlocked-2:before {
    content: "\e6be";
}

.ico-up:before {
    content: "\e6bf";
}

.ico-upload:before {
    content: "\e6c0";
}

.ico-video:before {
    content: "\e6c1";
}

.ico-video-backward:before {
    content: "\e6c2";
}

.ico-video-forward:before {
    content: "\e6c3";
}

.ico-video-negative:before {
    content: "\e6c4";
}

.ico-video-pause:before {
    content: "\e6c5";
}

.ico-video-play:before {
    content: "\e6c6";
}

.ico-video-repeat:before {
    content: "\e6c7";
}

.ico-video-stop:before {
    content: "\e6c8";
}

.ico-view:before {
    content: "\e6c9";
}

.ico-vol-max:before {
    content: "\e6ca";
}

.ico-vol-medium:before {
    content: "\e6cb";
}

.ico-vol-mid:before {
    content: "\e6cc";
}

.ico-vol-mute:before {
    content: "\e6cd";
}

.ico-warning:before {
    content: "\e6ce";
}

.ico-water:before {
    content: "\e6cf";
}

.ico-wine-glass:before {
    content: "\e6d0";
}

.ico-wine-glass-2:before {
    content: "\e6d1";
}
