{% extends 'base.html' %}
{% load static cropping %}
{% block title %}Статьи | {{ blog.title }}{% endblock %}
{% block description %}{{ blog.anons }}{% endblock %}
{% block body_class %}style-5 page products-page{% endblock %}
{% block content %}
    <section class="main-section light-section blog" id="blog">
        <div class="section-wrapper">
            <div class="container">
                <header class="section-header">
                    <h2>{{ blog.title }}</h2>

                    <div class="divider-section-header"></div>
                    <p>{{ blog.anons }}</p>
                </header>
                <div class="row carousel-blocks">
                    <div class="col-md-12">
                        <article class="post-wrapper sinlge-post">
                            <div class="post post-style-3">
                                <div class="post-perview">
                                    <img src="{{ MEDIA_URL }}{{ blog.image }}" alt="{{ blog.title }}">
                                </div>
                                <div class="post-contents">
                                    <p class="post-description">{{ blog.content.html|safe }}</p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}