{% extends 'base.html' %}
{% load static cropping %}
{% block title %}Статьи{% endblock %}
{% block description %}Статьи{% endblock %}
{% block body_class %}style-5 page products-page{% endblock %}
{% block content %}
    <section class="main-section light-section blog" id="blog">

        <div class="section-wrapper">
            <div class="container">
                <header class="section-header">
                    <h2>Статьи</h2>

                    <div class="divider-section-header"></div>
                </header>
                <div class="row carousel-blocks">
                    {% if blog_list %}
                        {% for blog in blog_list %}
                            <article class="post-wrapper col-md-4">
                                <div class="post post-style-1">
                                    <div class="post-perview">
                                        <img src="{% cropped_thumbnail blog "cropping" %}" alt="{{ blog.title }}">
                                        <span class="cover"></span>
                                    </div>
                                    <div class="post-contents">
                                        <h3 class="post-title">
                                            <a title="{{ bllog.title }}" href="{% url 'blog_detail' blog.pk %}">
                                                {{ bllog.title }}
                                            </a>
                                        </h3>

                                        <p class="post-description">{{ blog.anons }}</p>
                                        <a href="{% url 'blog_detail' blog.pk %}" title="{{ blog.title }}"
                                           class="general-link more accent">Подробнее</a>
                                    </div>
                                </div>
                            </article>
                        {% endfor %}
                    {% endif %}
                    {% include '_paginator.html' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}