{% extends 'base.html' %}
{% load static %}
{% block title %}О нас{% endblock %}
{% block description %}О нас{% endblock %}
{% block body_class %}style-5 page products-page{% endblock %}
{% block content %}
    <section class="main-section light-section introduction" id="introduction">

        <div class="section-wrapper">
            <div class="container">
                <header class="section-header">
                    <h2>О нас</h2>

                    <div class="divider-section-header"></div>
                </header>
                <div class="introduction-contents style-6 text-left">
                    <p>Изготовление различных фруктовых наборов, фигурно вырезанных и красиво оформленных фруктов,
                    прототипов сегодняшних букетов, своими корнями уходит в древнюю мифологию.
                    <br>Великий полководец Александр Македонский, при покорении Персии, был встречен у ворот Вавилона с
                    ключом от города, на подносе со спелыми сочными плодами фруктов.
                    <br>Декоративные фруктовые украшения были очень популярны во времена рассвета Римской Империи,
                    являясь неотъемлемой частью оформления торжественных мероприятий патрициев. Один из мудрейших
                    императоров империи &ndash; Марк Аврелий, в своих философских записках, неоднократно отмечает
                    фруктовое оформление стола, как некий фетиш.
                    <br>Не обошла данная традиция стороной и Византийский Константинополь, где искусно нарезанные
                    фрукты, поданные в сплетенной по заказу корзине, считались отменным блюдом высшего уровня.
                    <br>Но наивысшего уровня оформления, букеты из фруктов, получили в Китае, во времена правления
                    династии Минь. До сих пор этими блюдами славится провинция Сычуань.
                    <br>Эту географию можно продолжать до бесконечности. Ведь у каждого народа и каждой культуры, эта
                    традиция присутствует.&nbsp;При всем вышесказанном, увы, мир плавно начал отходить от этих красивых
                    и добрых традиций. Все плавно сместилось в мир глубоко материальных ценностей, и места романтики и
                    эстетики уверенно занимают современные электронные гаджеты и другие технические новшества
                    современности.
                    <br>Мы хотим приобщить Вас к глубоко трогательным и искренним эмоциям, которые несет наша продукция.
                    Эти флюиды, не возможно имитировать, они не покупаются и не продаются. Этот блеск, в глазах, подобно
                    сиянию Души, невозможно заставить излучать искусственно. Естественность и простота, это те наши
                    родные и врожденные качества, о которых мы стали забывать в этот стремительно бегущий век.
                    <br>Мы хотим подарить эмоции Вам, а Вы дарите эмоции любимым!</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}