{% extends 'base.html' %}
{% load static %}
{% block title %}Контакты{% endblock %}
{% block description %}Контакты{% endblock %}
{% block body_class %}style-5 page products-page{% endblock %}
{% block content %}
    <section class="main-section light-section contact" id="contact">
        <div class="section-wrapper">
            <div class="container">
                <header class="section-header">
                    <h2>Контакты</h2>

                    <div class="divider-section-header"></div>
                    <p>Заказы принимаются минимум за 2-3 дня до торжества.</p>
                </header>
                <div class="row margin-bottom-50 google-map-wrapper">

                    <div class="col-md-4 contact-means-wrapper">
                        <div class="contact-info contact-box">
                            <h5 class="contact-box-title">Контактная информация :</h5>

                            <div class="work-hours contact-box">
                                <ul class="contact-details">
                                    <li>
                                        Email: <a title="email"
                                                  href="mailto:info@frucarousel.ru">info@frucarousel.ru</a>
                                    </li>
                                    <li>
                                        Телефон: <a title="телефон" href="tel:+79833206035">+7 (983) 320 60 35</a>
                                    </li>
                                    <li>
                                        В контакте: <a title="в контакте" href="http://vk.com/frucarousel">http://vk.com/frucarousel</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                        <div class="col-md-4 contact-means-wrapper"></div>
                    <div class="col-md-4 contact-means-wrapper">
                        <div class="work-hours contact-box">
                            <h5 class="contact-box-title">Время работы :</h5>

                            <div class="contact-box-body clearfix">
                                <ul class="contact-details">
                                    <li>Понедельник – Пятница : 9:00 до 19:00</li>
                                    <li>Суббота : 9:00 до 17:00</li>
                                    <li>Воскресенье : Выходной</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 contact-means-wrapper"></div>
                    </div>
                 <div class="row">
                    <div class="col-md-12 google-map-wrapper">
                        <div class="google-map" id="map-canvas"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>

    <script type="text/javascript">

        var markerImg = $('#map-canvas').attr('data-marker-img');
        function initialize() {
            var stylez = [
                {
                    featureType: "all",
                    stylers: [
                        {hue: "#0000ff"},
                        {saturation: -75}
                    ]
                },
                {
                    featureType: "poi",
                    elementType: "label",
                    stylers: [
                        {visibility: "off"}
                    ]
                }
            ];

            var latlng = new google.maps.LatLng(55.0004855, 83.0052893),

                    mapOptions = {
                        mapTypeControlOptions: {
                            mapTypeIds: [google.maps.MapTypeId.ROADMAP]
                        },
                        center: latlng,
                        zoom: 16,
                        scrollwheel: false,
                        panControl: true,
                        mapTypeControl: true,
                        scaleControl: true,
                        streetViewControl: true
                    },

                    map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions),

                    styledMapType = new google.maps.StyledMapType(stylez, {name: ""}),

                    marker = new google.maps.Marker({
                        position: latlng,
                        map: map,
                        icon: markerImg,
                        animation: google.maps.Animation.DROP,
                        title: "Frucarousel"
                    }),

                    infowindow = new google.maps.InfoWindow({
                        content: "Frucarousel"
                    });

            map.mapTypes.set("Edited", styledMapType);
            map.setMapTypeId('Edited');

            function toggleBounce() {
                if (marker.getAnimation() != null) {
                    marker.setAnimation(null);
                } else {
                    marker.setAnimation(google.maps.Animation.BOUNCE);
                }
            }

            google.maps.event.addListener(marker, 'click', function () {
                toggleBounce();
                infowindow.open(map, marker);
                setTimeout(toggleBounce, 1500);
            });
        }
        initialize();

    </script>
{% endblock %}