{% extends 'base.html' %}
{% load static %}
{% block title %}Доставка и Оплата{% endblock %}
{% block body_class %}style-5 page products-page{% endblock %}
{% block content %}
 <section class="main-section light-section introduction" id="introduction">
        <div class="section-wrapper">
          <div class="container">
            <header class="section-header">
              <h2>Доставка и Оплата</h2>
              <div class="divider-section-header"></div>
            </header>
            <div class="introduction-contents style-6">
              <p></p>
            </div>
          </div>
        </div>
      </section>
{% endblock %}