<div class="slider slider-1 header-slider" id="slider">
    <div class="slide" id="slide-1">
        <img src="/static/public/images/slider/img-1.jpg" class="img-slider">

        <div class="cover"></div>
    </div>
    <div class="slide" id="slide-2">
        <img src="/static/public/images/slider/img-2.jpg" class="img-slider">

        <div class="cover"></div>
    </div>
    <div class="slide" id="slide-3">
        <img src="/static/public/images/slider/img-3.jpg" class="img-slider">

        <div class="cover"></div>
    </div>
</div>