{% load static %}
{% if sliders %}
    {% if image_only %}
        <div class="slider slider-1 header-slider" id="slider">
    {% else %}
        <div class="slider slider-home slider-2" id="slider">
    {% endif %}
{% for slider in sliders %}
    <div class="slide" id="slide-{{ forloop.counter }}">
        <img src="/media/{{ slider.image }}" alt="{{ slider.title }}" class="img-slider">
        <div class="cover"></div>
        {% if not image_only %}
            <div class="captions">
                <h2 class="animated">{{ slider.title }}</h2>
                <p class="animated">{{ slider.content_to_text }}</p>
            </div>
        {% endif %}
    </div>
{% endfor %}
</div>
{% endif %}