{% extends "base.html" %}
{% block title %}Ошибка{% endblock %}
{% block content %}
    <section class="main-section light-section erorr-404" id="erorr-404">

        <div class="section-wrapper">
            <div class="container">
                <header class="section-header">
                    <h2>500</h2>

                    <div class="divider-section-header"></div>
                    <p>Ошибка.</p>
                </header>
            </div>
        </div>
    </section>
{% endblock %}