{% load static %}
<div class="carousel-services carousel-col-3 carousel">
    <div class="service-wrapper carousel-item">
        <div class="service service-style-1">
            <h3 class="service-title">Оригинальный подарок</h3>
            <figure class="service-perview">
                <img src="{% static 'public/' %}images/services/img-1.jpg" alt="Cakes">
                <figcaption></figcaption>
            </figure>
            <p class="service-description">Если не знаете что подарить - подарите фруктовый букет!
                <br>Такой подарок запомниться навсегда.</p>
        </div>
    </div>
    <div class="service-wrapper carousel-item">
        <div class="service service-style-1">
            <h3 class="service-title">Яркие эмоции</h3>
            <figure class="service-perview">
                <img src="{% static 'public/' %}images/services/img-2.jpg" alt="Cakes">
                <figcaption></figcaption>
            </figure>
            <p class="service-description">Наш фруктовый букет подарит хорошее настроение
                и яркие эмоции.</p>
        </div>
    </div>
    <div class="service-wrapper carousel-item">
        <div class="service service-style-1">
            <h3 class="service-title">Вкусно и полезно</h3>
            <figure class="service-perview">
                <img src="{% static 'public/' %}images/services/img-3.jpg" alt="Cakes">
                <figcaption></figcaption>
            </figure>
            <p class="service-description">Мы делаем наши букеты только из свежих
                фруктов, наполненных витаминами!</p>
        </div>
    </div>
</div>