<footer class="main-section dark-section footer" id="footer">
    <div class="section-wrapper">
        <div class="container">
            <ul class="footer-social">
                <li>
                    <a target="_blank" href="http://vk.com/frucarousel" class="vk">
                    <i class="fa fa-vk"></i>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://instagram.com/anastasia_sidunova/" class="instagram">
                        <i class="fa fa-instagram"></i>
                    </a>
                </li>
            </ul>
            <p class="copyrights">&copy; frucarousel.ru | Фруктовые букеты в Новосибирске</p>

            <div class="back-to-top-wrapper">
                <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>
            </div>

        </div>
    </div>
</footer>