<ul class="nav-links">
    <li>
        <a href="{% url 'app_index' %}" title="Главная"
           class="{% if request.resolver_match.url_name == "app_index" %}active{% endif %}">Главная</a>
    </li>
    <li>
        <a href="{% url 'work_list' %}" title="Наши работы"
           class="{% if request.resolver_match.url_name == "work_list" %}active{% endif %}">Наши работы</a>
    </li>
    <li>
        <a href="{% url 'page_delivery' %}" title="Доставка и Оплата"
           class="{% if request.resolver_match.url_name == "page_delivery" %}active{% endif %}">Доставка и Оплата</a>
    </li>
    <li>
        <a href="{% url 'blog_list' %}" title="Статьи"
           class="{% if request.resolver_match.url_name == "blog_list" %}active{% endif %}">Статьи</a>
    </li>
    <li>
        <a href="{% url 'page_about' %}" title="О нас"
           class="{% if request.resolver_match.url_name == "page_about" %}active{% endif %}">О нас</a>
    </li>
    <li>
        <a href="{% url 'page_contact' %}" title="Контакты"
           class="{% if request.resolver_match.url_name == "page_contact" %}active{% endif %}">Контакты</a>
    </li>
</ul>