{% if is_paginated %}
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li>
                <a href="?page={{ page_obj.previous_page_number }}">
                    <i class="animated fa fa-angle-left"></i>
                </a>
            </li>
        {% endif %}
        <li class="selected">
            <span class="active">{{ page_obj.number }}</span>
        </li>
        {% if page_obj.has_next %}
            <li class="right">
                <a href="?page={{ page_obj.next_page_number }}">
                    <i class="animated fa fa-angle-left"></i>
                </a>
            </li>
        {% endif %}
    </ul>
{% endif %}