{% load static slider_tags %}
<!DOCTYPE html>
<!--[if lt IE 7]>
  <html class="no-js IE lt-ie9 lt-ie8 lt-ie7"></html>
<![endif]-->
<!--[if IE 7]>
  <html class="no-js IE lt-ie9 lt-ie8"></html>
<![endif]-->
<!--[if IE 8]>
  <html class="no-js IE lt-ie9"></html>
<![endif]-->
<!--[if gt IE 8]>
  <html class="no-js IE gt-ie8"></html>
<![endif]-->
<!--[if !IE]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <title>Frucarousel | {% block title %}{% endblock %}</title>
    <!-- meta !-->
    <meta charset="utf-8">
    <meta content="Фруктовые букеты - {% block description %}{% endblock %} в Новосибирске" name="description">
    <!-- icons !-->
    <link rel="shortcut icon" href="{% static 'public/images/icons/favicon.ico' %}">
    <!-- css !-->
    <link type="text/css" media="screen" rel="stylesheet" href="{% static 'public/style.css' %}">
    <!-- js !-->
    <script src="{% static 'public/js/jquery.js' %}" type="text/javascript"></script>
    <script src="{% static 'public/js/compiler.js' %}" type="text/javascript"></script>
    <script src="{% static 'public/js/scripts.js' %}" type="text/javascript"></script>
    <script src="{% static 'public/js/min/bootstrap.min.js' %}" type="text/javascript"></script>
</head>
<body class="{% block body_class %}style-5{% endblock %}">
<div class="all-wrapper">
    <section class="main-section dark-section welcome" id="welcome">
        <header class="header header-5" id="header" itemscope itemtype="http://schema.org/Organization">
            <div>
                <meta itemprop="streetAddress" content="Вилюйская 11"/>
                <meta itemprop="addressLocality" content="Новосибирск"/>
                <ul class="top-contacts clearfix">
                    <li><a itemprop="telephone" href="mailto:info@frucarousel.ru">info@frucarousel.ru</a></li>
                    <li><a itemprop="email" href="tel:+7(983)3206035">+7 (983) 320 60 35</a></li>
                </ul>
                <nav class="main-nav">
                    <div class="clearfix">
                        {% include '_menu.html' %}
                    </div>

                </nav>
                <div class="logo-wrappper logo-style-1">
                    <a href="{% url 'app_index' %}" class="logo" title="Главная">
                    </a>
                </div>
            </div>
        </header>
        {% block slider %}{% slider_view %}{% endblock %}
    </section>
    {% block content %}
        {{ content }}
    {% endblock %}
    {% include '_footer.html' %}
</div>
</body>
</html>