{% extends 'base.html' %}
{% load static slider_tags cropping %}
{% block title %}Главная{% endblock %}
{% block description %}Главная{% endblock %}
{% block content %}
    <section class="main-section light-section services" id="services">
        <div class="section-wrapper">
            <div class="container">
                <header class="section-header">
                    <h2>Добро пожаловать!</h2>

                    <div class="divider-section-header"></div>
                    <p>Наши букеты из свежих фруктов, которые можно подарить друзьям и близким по любому поводу.</p>
                </header>
                <div class="row">
                    {% include '_carousel.html' %}
                </div>
            </div>
        </div>
    </section>
{% if works.count == 4 %}
<section class="main-section dark-section products" id="products">
        <div class="section-wrapper">
            <div class="container">
                <header class="section-header">
                    <h2>Популярное</h2>

                    <div class="divider-section-header"></div>
                </header>
                <div class="row">
                    <div class="carousel-blocks-3 carousel-col-1 carousel-2">
                        <div class="carousel-item-full-width">
                            {% for work in works %}
                            <div class="product-wrapper carousel-item">
                                <div class="product">
                                    <figure class="product-perview">
                                        <img src="{% cropped_thumbnail work "cropping" %}" alt="{{ work.title }}">
                                        <figcaption></figcaption>
                                    </figure>
                                    <div class="product-contents">
                                        <h3 class="product-title">
                                            <a href="{% url 'work_detail' work.pk %}">{{ work.title }}</a>
                                        </h3>
                                        <p class="product-description">{{ work.content.html|safe }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endif %}
{% endblock %}